@import "../../utils/colorCodes.scss";

.publications-container {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  background-color: $mainBackground;
  padding: 0 3rem;
}

.publications-pageTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 2rem 0 0.5rem 0;
}

.publications-itemContainer {
  margin: 1rem 0;
  background-color: #ffffff;
  border-left: 5px solid $listItemBorder;
  padding: 1rem;
  box-shadow: $shadow;
}

.publications-itemTitle {
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.publications-deleteButton {
  background-color: unset;
  border: none;
  color: $fontColorGrey;
  cursor: pointer;
}

.publications-itemAuthors {
  color: $fontColorGrey;
  font-size: 0.9rem;
}

.publications-detailsContainer {
  margin: 1rem 0;
}

.publications-detailsTitle {
  font-weight: bold;
  margin: 0.2rem 0;
}

.publications-tiles {
  display: grid;
  grid-template-areas: "pubDate pubType pageRange volume";
  grid-template-columns: 25% 25% 25% 25%;
  margin: 1rem 0;
}

.publications-tilesDate {
  grid-area: pubDate;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid $borderGrey;
}

.publications-tilesPubType {
  grid-area: pubType;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid $borderGrey;
}

.publications-tilesPageRange {
  grid-area: pageRange;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid $borderGrey;
}

.publications-tilesVolume {
  grid-area: volume;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.publications-tilesTitle {
  font-weight: bold;
  margin: 0 0 0.2rem 0;
}

.publications-actionContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.publications-actionButton {
  background-color: $buttonBackground;
  border: 1px solid $buttonBackground;
  color: $buttonFont;
  padding: 0.5rem;
  text-decoration: none;
  margin: 0 0.5rem;
}

.publications-actionButton:hover {
  background-color: $buttonBackgroundHover;
  border: 1px solid $buttonBackground;
  color: $buttonFontHover;
}
